@use "./navbar";
@use "./variable";
@use "./Home";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
  }

img {
    border-radius: 50% !important;
    mix-blend-mode: luminosity;
}